* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

.header{
    display: flex;
    align-items: center;
    margin-top: 31.5px;
    margin-left: 400px;
    margin-right: 330px;
}

.header__list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    text-space: center;
}

.header__list li {
    margin-left: 27px;
    margin-right: 27px;
}

.header__list a {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #FF0000;
    text-decoration-line: none;
}

.header__img {
    text-align: center;
    background-image: url(../../images/photo.png);
    background-size: cover;
    max-width: 10000px;
    min-width: 1280px;
    min-height: 789px;
}

.main{
    text-align: center;
    padding-top: 48px;
    margin: 67.5px;
}

.main__title {
    font-family: Montserrat;
    padding-top: 48px;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
}

.main__subtitle {
    font-family: Montserrat;
    padding-top: 38px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    color: #373737;
    padding-left-right: 67.5px;
}

.main__text {
    font-family: Montserrat;
    padding-top: 28px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
}

 .main__pointr {
     display: flex;
     text-space: center;

     margin-top: 84px;
     margin-left: 550px;

     width: 191px;
     height: 51px;
     top: 557px;
     background: #FF0000;
     border-radius: 4px;

     color: #FFFFFF;
     text-decoration: none;
     font-family: Montserrat;
     font-style: normal;
     font-weight: bold;
     font-size: 12px;
     line-height: 12px;
     letter-spacing: 1.8px;
     text-transform: uppercase;
 }

 .footer__title {
     height: 39px;
     margin-left: 908px;
     top: 20px;

     font-family: Montserrat;
     font-style: normal;
     font-weight: bold;
     font-size: 16px;
     line-height: 20px;
     display: flex;
     letter-spacing: 2.4px;
     color: #373737;
 }